{% extends 'base.html' %}

{% block content %}

{% if noform %}
    <div>No form attached to current page</div>
{% elif multipleform %}
    <div>Multiple forms attached to current page. Only one form per page allowed.</div>
{% else %}
    <header class="b-section__header">{{ form_meta.title }}</header>
    <div>{{ form_meta.text_before }}</div>
    <div>
        <form method="post" enctype="multipart/form-data">

           <table>
            {{ form.as_table }}
        </table>

      {% comment %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
     {% endcomment %}


            {% csrf_token %}


        <div><input type="submit" value="Send message" /></div>
    </form>
    </div>
    <div>{{ form_meta.text_after }}</div>

{% endif %}

{% endblock %}


